@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
  padding: 0;
  margin: 0;
  background-color: #dddddd
  /*background-color: #bcbcbc;*/
}

.container{
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.landing{
  background-image: url('yo.png');
  background-size: cover;
  width: 100%;
  height: 500px;
  box-shadow: 0px 10px 5px #aaaaaa;
  background-attachment: fixed;
}
.name p{
  background-color:black;
  color:white;
  display:inline-block;
  padding:10px;
  box-shadow: 0;
}
.name span{
  text-align: center;
  font-size: 150px;
  color: black;
  top: 35%;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}
.name {
	text-align: center;
	color:black;
	top:20%;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	bottom:1.5em;
	text-shadow: 0px 8px 10px white;
  font-size:120%;
}

.blurb p{
  margin-top: 6%;
  margin-bottom: 5%;
  font-size: 25px;
  width: 50%;
  display:inline-block;
  background-color: white;
  padding:90px;
  padding-left:100px;
  padding-right: 100px;
}
.about{
  background-color:black;
  color:white;
  display:inline-block;
  padding:60px;
  padding-left:100px;
  padding-right: 100px;
  box-shadow: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:100px;
  float:left;
  margin-left: 10%;
}
.container{
  margin-top:20px;
  background-color:white;
}
@media screen and (max-width: 480px) {
  .name span{
		font-size: 60px;
	}
  .about{
    font-size: 40px;
    padding:40px;
    text-align:center;
    margin-right: 25px;
    margin-left: 0 auto;
    float:none;
  }
  .blurb p{
    font-size: 19px;
    padding:40px;
    text-align: justify;
  text-justify: auto;
    width: 250px;
  }
}

/*.studenth{
   background-color: #a0859f;
  transition: background-color 0.3s;
  float:left;
  width: 50%;
  color: white;
  height: 35%;
  margin: 0;
  border:none;
  outline:none;
  font-size: 20px;
}
.studenth:hover {
 background-color: #ba8994
}

.studenth h1{
  text-align: center;
}

.lecturerh{
  background-color: #a4aac1;
  transition: background-color 0.3s;
  float:right;
  width: 50%;
  color: white;
  height: 35%;
  border:none;
  outline:none;
  font-size: 20px;
}

.lecturerh:hover {
  background-color: #8fadc6;
}

.lecturerh h1{
}*/
